body {
    background: rgb(188,228,255);
    margin: 6px auto;
    padding: 6px auto;
}


.planilla{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background: rgb(188,228,255);

    
}
.encabezado{
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    color: rgb(6,123,171);
    text-align: center;
}

.microplate{

    display: grid;
    grid-template-columns: repeat(8,50px);
    gap: 5px;
    transform: rotate(90deg);
    
}

.well{

    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: inline-block;
    margin: 2px;
    border-radius: 50%;
    
}

.encabezado{
    display: flex;
    padding: 10px;
    margin: 0;
    height: 200px;
    align-items: center;
    
    
}

.encabezado div{
    display: flex;
    margin: 6px auto;
    padding: 6px auto;
    
}

.piePag{
    margin: 20px;
    margin-right: 20px;
    display: flex;
    
}
.piePag div{
    height: 200px;
    width: 200px;
    display: flex;
    margin:auto;  
    justify-content: center;
    align-items: center;
    
   

}
.Options{
    background-color:rgb(6,123,171);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    cursor: pointer;
    
}